[tool.poetry]
name = "aiofiles"
version = "22.2.0.dev0"
description = "File support for asyncio."
authors = ["Tin Tvrtkovic <tinchester@gmail.com>"]
license = "Apache-2.0"
readme = "README.rst"
repository = "https://github.com/Tinche/aiofiles"

[tool.poetry.urls]
"Changelog" = "hhttps://github.com/Tinche/aiofiles#history"
"Bug Tracker" = "https://github.com/Tinche/aiofiles/issues"

[tool.poetry.dependencies]
python = "^3.7"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
pytest-asyncio = "^0.19.0"
coverage = "^6.4.4"
tox = "^3.25.1"
black = "^22.8.0"
flake8 = "^5.0.4"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
